openapi: 3.0.3
info:
  title: Access Control API
  version: 1.0.0
  description: API ...
  contact:
    name: ИУ9

servers:
  - url: https://sets.mgtu.ro/api/app/v1
    description: development server

tags:
  - name: image
    description: Операции для работы с изображениями.

paths:
  /image/{imageId}:
    parameters:
      - name: imageId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - users
      operationId: getImage
      summary: Получение данных по изображению.
      description: Получение данных по изображению.
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetImageResponse"
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '401':
          description: not authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: string

    GetImageResponse:
      type: object
      required:
        - id
        - created_at
        - people_number
      properties:
        id:
          type: string
          description: Уникальный идентификатор изображения.
          format: uuid
        created_at:
          type: string
          format: date-time
        people_number:
          type: integer
          minimum: 0